- content_for :title, "Listing genders"

%table.table
  %thead
    %tr
      %th Name
      %th{style:"width:200px"} Action
  %tbody
    - @genders.each do |gender|
      %tr
        %td= gender.name
        %td
          = link_to '<i class="bi bi-hdd-fill"></i>'.html_safe, gender, class: "btn btn-info"
          = link_to '<i class="bi bi-clipboard2-check"></i>'.html_safe, edit_gender_path(gender), class: "btn btn-success"
          = link_to '<i class="bi bi-trash-fill"></i>'.html_safe, gender, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"
%br
= link_to 'Novo', new_gender_path, class: "btn btn-primary"
